.App {
  font-family: sans-serif;
  padding: 20px;
}

nav {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: blue;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding-top: 10px;
}

button {
  padding: 8px 15px;
  margin-right: 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  border: 1px solid #eee;
  padding: 10px;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
